@charset "UTF-8";
* {
  margin: 0px;
}

/* Estilos de la barra de navegación */
.navbar {
  height: 100px;
  background-color: black;
  padding: 15px;
  /* Estilos para la lista de navegación en la barra */
}
.navbar-nav {
  margin: auto;
}

/* Estilos de los botones */
.btn {
  color: white !important;
  border: solid 1px white !important;
  /* Estilos para el botón de éxito con contorno */
}
.btn-outline-success {
  --bs-btn-hover-bg: rgb(46, 46, 46) !important;
  --bs-btn-active-bg: rgb(46, 46, 46) !important;
}

/* Estilos del menú desplegable */
.dropdown-menu {
  background-color: rgb(32, 32, 32);
  --bs-dropdown-link-hover-bg: rgb(46, 46, 46) !important;
  --bs-dropdown-link-active-bg: rgb(46, 46, 46) !important;
}

/* Estilos para los elementos de navegación */
.nav-item a {
  display: inline-block;
  padding-inline: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
}

/* Estilos generales para elementos de lista de navegación */
.nav-item-gral ul {
  margin: auto;
}
.nav-item-gral ul li {
  display: inline-block;
  padding-inline: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.nav-item-gral ul li a {
  text-decoration: none;
  color: white;
}

/* Estilos para el contenido de la navegación */
.nav-content a {
  text-decoration: none;
}

/* Estilos para los íconos de navegación */
.nav-icons a {
  margin-top: 5px;
}
.nav-icons a img {
  width: 3.5vw;
}

/* Estilos para el encabezado de video */
.video-header {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  max-height: 75vh;
  overflow: hidden;
  /* Estilos para el título del video */
  /* Estilos para el subtítulo del video */
}
.video-header video {
  width: 100%;
  position: relative;
}
.video-header-title {
  position: absolute;
  bottom: 500px;
  left: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 3.5vw;
  color: rgb(255, 255, 255);
}
.video-header-subtitle {
  position: absolute;
  bottom: 330px;
  left: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  width: 45%;
=======
    width: 100%;
    height: 100%;
    max-height: 75vh;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    
}
video {
    width: 100%;
}

.video-title h3{
    position: absolute;
    padding: 185px 28px;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
}
.video-subtitle p{
    position: absolute;
    padding: 250px 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    width: 45%;
>>>>>>> c619763e0f15ada00d5ed7a389520720976dea97
}

/* Estilos para el pie de página */
.footer-a {
  background-color: rgb(32, 32, 32);
  height: 330px;
  padding: 70px;
  display: block;
  text-align: center;
  /* Estilos para los íconos del pie de página */
  /* Estilos para el contenido del pie de página */
}
.footer-a .footer-icons img {
  width: 2.5vw;
}
.footer-a .footer-icons a {
  text-decoration: none;
}
.footer-a .footer-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
}
.footer-a .footer-content a {
  text-decoration: none;
  color: rgb(180, 180, 180);
}
.footer-a .footer-content h5 {
  margin-top: 15px;
  font-size: 1rem;
}

/* Estilos para las imágenes del carrusel */
.carousel-images {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.carousel-images img {
  border-radius: 3%;
  width: 100%;
  padding-bottom: 0px;
}

/* Estilos para el fondo principal */
.main-bg {
  background-color: rgb(26, 26, 26);
  padding: 120px 0;
  /* Estilos para los títulos principales */
}
.main-bg .main-titles {
  font-family: "Montserrat", sans-serif;
  font-weight: 600px;
  font-size: 1.6rem;
  color: white;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* Estilos para nombres de películas */
.movie-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
  color: white;
  padding: 6px;
  font-size: 1.1rem;
}

/* Estilos para subtítulos de películas y series */
.movie-sub, .series-sub {
  display: flex;
  border-radius: 10%;
  padding-inline: 5px;
  background-color: rgb(32, 32, 32);
  margin: auto;
}

/* Estilos para las tarjetas */
.card {
  --bs-card-bg: rgb(32, 32, 32);
  margin: 5px;
}
.card .card-body {
  padding: 0px !important;
}

/* Estilos para nombres de series */
.series-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
  color: white;
  padding: 6px;
  font-size: 1.1rem;
}

/* Estilos para la sección de series */
.section-series {
  margin-top: 50px;
}

/* Estilos para el fondo de inicio de sesión */
.login-bg {
  background-image: url("../images/login-bg.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 300px;
  text-align: center;
  /* Estilos para el formulario de inicio de sesión */
}
.login-bg .login-form {
  background-color: rgb(26, 26, 26);
  padding: 30px;
  margin: auto;
  width: 70%;
  height: 70vh;
}
.login-bg .login-form .login-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(180, 180, 180);
  text-align: center;
}
.login-bg .login-form .form-log {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}
.login-bg .login-form .form-log input {
  width: 90%;
  height: 50px;
  margin: 0.5rem;
=======

}

.form-log input {
    width: 90%;
    height: 50px;
    margin: 0.5rem;
    padding: 10px;
}


/* PAGE PRIVACIDAD  */
.nav-ayuda {
    margin-top: 20px;
    display: inline-block;
    padding-inline: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.1rem;
>>>>>>> c619763e0f15ada00d5ed7a389520720976dea97
}

/* Estilos para el contenido de privacidad */
.priv-content {
  background-color: rgb(236, 236, 236);
  padding: 150px;
  /* Estilos para el título de privacidad */
  /* Estilos para el texto de privacidad */
  /* Estilos para el subtítulo de privacidad */
}
.priv-content .priv-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 2.8rem;
  padding-bottom: 20px;
}
.priv-content .priv-text {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
}
.priv-content .priv-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 1.4rem;
  padding: 10px 0px;
}

/* Estilos para el contenido de contacto */
.contacto-content {
  background-color: rgb(236, 236, 236);
  padding: 60px 400px;
  margin-top: 50px;
  /* Estilos para el título de contacto */
  /* Estilos para el subtítulo de contacto */
  /* Estilos para el texto de contacto */
  /* Estilos para los enlaces de contacto */
  /* Estilos para el formulario de contacto */
  /* Estilos para la información de contacto */
}
.contacto-content .contacto-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 2.8rem;
  padding-bottom: 20px;
}
.contacto-content .contacto-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 1.3rem;
  padding: 20px 0px;
}
.contacto-content .contacto-text {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
  text-align: justify;
}
.contacto-content .contacto-text2 {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
}
.contacto-content .contacto-text a {
  text-decoration: none;
}
.contacto-content .contacto-msj {
  width: 70%;
  height: 30px;
  padding: 5px;
}
.contacto-content .contacto-submit {
  width: 10%;
  height: 42px;
  padding: 5px;
}
.contacto-content .contacto-info {
  width: 20vh;
  height: 80px;
  border-radius: 7%;
  padding: 20px;
  margin-inline: 10px;
  display: inline-block;
  background-color: rgb(200, 200, 200);
}
.contacto-content .contacto-info h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Estilos para el contenido de términos de uso */
.terminos-content {
  background-color: rgb(236, 236, 236);
  padding: 200px 300px;
  /* Estilos para el título de términos de uso */
  /* Estilos para el texto de términos de uso */
  /* Estilos para el subtítulo de términos de uso */
}
.terminos-content .terminos-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 2.8rem;
  padding-bottom: 20px;
}
.terminos-content .terminos-text {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
}
.terminos-content .terminos-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 1.4rem;
  padding: 10px 0px;
}

/* Estilos para el botón de alternar la barra de navegación en dispositivos móviles */
.navbar-toggler {
  display: none;
}

/* Estilos para el color de enlace de navegación al enfocar o pasar el mouse */
.nav-link:focus, .nav-link:hover {
  color: white;
}

/* Media queries */
@media (max-width: 930px) {
<<<<<<< HEAD
  /* Estilos para el carrusel de imágenes en dispositivos móviles */
  .carousel-images {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Estilos para los íconos de navegación en dispositivos móviles */
  .nav-icons {
    display: none;
  }
  /* Estilos para el menú desplegable de la barra de navegación en dispositivos móviles */
  .navbar-collapse {
    background-color: black;
    padding: 5px;
    border-radius: 3%;
  }
  /* Estilos para los títulos principales en dispositivos móviles */
  .main-titles {
    margin-left: 15px;
  }
  /* Estilos para el fondo principal en dispositivos móviles */
  .main-bg {
    padding: 60px 0px;
  }
  /* Estilos para el botón de alternar la barra de navegación en dispositivos móviles */
  .navbar-toggler {
    display: flex;
  }
  /* Estilos para los elementos de navegación generales en dispositivos móviles */
  .nav-item-gral {
    display: none;
  }
  /* Estilos para el formulario de búsqueda en dispositivos móviles */
  .search-form {
    display: none;
  }
  /* Estilos para el panel deslizante en dispositivos móviles */
  .offcanvas {
    --bs-offcanvas-bg: rgb(26, 26, 26);
  }
  /* Estilos para el título del panel deslizante en dispositivos móviles */
  .offcanvas-title {
    color: white;
  }
  /* Estilos para las tarjetas en dispositivos móviles */
  .card {
    width: 30vw !important;
  }
  /* Estilos para los íconos del pie de página en dispositivos móviles */
  .footer-icons img {
    width: 5vw;
  }
  /* Estilos para el enc
=======
    .carousel-images {
        grid-template-columns: repeat(3, 1fr);
    }
    .nav-icons {
        display: none;
    }
    .navbar-collapse {
        background-color: black;
        padding: 5px;
        border-radius: 3%;
    }
    .main-titles {
        margin-left: 15px;
    }
    .main-bg {
        padding: 60px 0px;
    }
    .navbar-toggler {
        display: flex;
    }
    .nav-item-gral {
        display: none;
    }
    .search-form {
        display: none;
    }
    .offcanvas {
        --bs-offcanvas-bg: rgb(26, 26, 26);
    }
    .offcanvas-title {
        color: white;
    }
    .card {
        width: 30vw !important;
    }
    .footer-icons img {
        width: 5vw;
    }

    .video-header {
        max-height: 80vh;
    }
    .video-title h3{
        padding: 200px 30px;
        font-size: 4.5vw;

    }
    .video-subtitle p{
        width: 65%;
        font-size: 2.5vw;
        width: 95%;
    }


    .login-bg {
        padding: 120px;
    }
    
    .login-form {
        width: 100%;
        height: 70vh;
        margin: 20px auto;
        padding: 20px;
    }
    
    .login-title {
        font-size: 1.2rem;
    }
    
    
    .form-log {
        width: 90%;
        padding: 10px;
        
    
    }
    
    .form-log input {
        padding: 5px;
        margin: 10px;
        width: 100%;
    }



>>>>>>> c619763e0f15ada00d5ed7a389520720976dea97

  abezado de video en dispositivos móviles */
  .video-header {
    max-height: 70vh;
  }
  /* Estilos para el fondo de inicio de sesión en dispositivos móviles */
  .login-bg {
    padding: 120px;
  }
  /* Estilos para el formulario de inicio de sesión en dispositivos móviles */
  .login-form {
    width: 100%;
    height: 70vh;
    margin: 20px auto;
    padding: 20px;
  }
  .login-form .login-title {
    font-size: 1.2rem;
  }
  .login-form .form-log {
    width: 90%;
    padding: 10px;
  }
  .login-form .form-log input {
    padding: 5px;
    margin: 10px;
    width: 100%;
  }
}
@media (max-width: 656px) {
  /* Estilos para el carrusel de imágenes en dispositivos móviles más pequeños */
  .carousel-images {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Estilos para las tarjetas en dispositivos móviles más pequeños */
  .card {
    width: 40vw !important;
  }
  /* Estilos para los íconos del pie de página en dispositivos móviles más pequeños */
  .footer-icons img {
    width: 8vw;
  }
  /* Estilos para el encabezado de video en dispositivos móviles más pequeños */
  .video-header {
    max-height: 34vh;
  }
  .video-header .video-title {
    bottom: 410px;
    left: 50px;
    font-size: 3.5vw;
  }
  .video-header .video-subtitle {
    bottom: 380px;
    left: 50px;
    font-size: 1.5vw;
    width: 65%;
  }
  /* Estilos para el fondo de inicio de sesión en dispositivos móviles más pequeños */
  .login-bg {
    padding: 80px 20px;
  }
}

<<<<<<< HEAD
/*# sourceMappingURL=estilo.css.map */
=======
@media (max-width: 656px) {
    .carousel-images {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 40vw !important;
    }
    .footer-icons img {
        width: 8vw;
    }
    video {
        width: 150%;
    }
    .video-title h3{
        padding: 130px 30px;
        font-size: 5.5vw;
    }
    .video-subtitle p{
        padding: 160px 30px;
        font-size: 3.5vw;
        width: 100%;
    }
    .login-bg {
        padding: 80px 20px;
    }
    .login-form {
        height: 60vh;
    }
}
>>>>>>> c619763e0f15ada00d5ed7a389520720976dea97
