@charset "UTF-8";
* {
  margin: 0px;
}

/* Estilos de la barra de navegación */
.navbar {
  height: 100px;
  background-color: black;
  padding: 15px;
  transition: background-color 0.3s ease;
  /* Estilos para la lista de navegación en la barra */
}
.navbar-nav {
  margin: auto;
}

/* Estilos de los botones */
.btn {
  color: white !important;
  border: solid 1px white !important;
  transition: background-color 0.3s ease;
  /* Estilos para el botón de éxito con contorno */
}
.btn-outline-success {
  --bs-btn-hover-bg: rgb(46, 46, 46) !important;
  --bs-btn-active-bg: rgb(46, 46, 46) !important;
}

/* Estilos del menú desplegable */
.dropdown-menu {
  background-color: rgb(32, 32, 32);
  --bs-dropdown-link-hover-bg: rgb(46, 46, 46) !important;
  --bs-dropdown-link-active-bg: rgb(46, 46, 46) !important;
}

/* Estilos para los elementos de navegación */
.nav-item a {
  display: inline-block;
  padding-inline: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
.nav-item:hover a {
  color: rgba(238, 238, 238, 0.7);
}

/* Estilos generales para elementos de lista de navegación */
.nav-item-gral ul {
  margin: auto;
}
.nav-item-gral ul li {
  display: inline-block;
  padding-inline: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.nav-item-gral ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.nav-item-gral ul li:hover a {
  color: rgba(238, 238, 238, 0.7);
}

/* Estilos para el contenido de la navegación */
.nav-content a {
  text-decoration: none;
}

/* Estilos para los íconos de navegación */
.nav-icons a {
  margin-top: 5px;
}
.nav-icons a img {
  width: 3.5vw;
  transition: transform 0.3s ease;
}
.nav-icons a:hover img {
  transform: scale(1.1);
}

/* Estilos para el encabezado de video */
.video-header {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 75vh;
  overflow: hidden;
}
.video-header .video-container {
  position: relative;
  background-color: rgb(26, 26, 26);
}
.video-header .video-container video {
  width: 100%;
  height: auto;
}
.video-header .video-content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: start;
  z-index: 1;
}
.video-header .video-content .video-title h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}
.video-header .video-content .video-subtitle p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  width: 80%;
}

/* Estilos para el pie de página */
.footer-a {
  background-color: rgb(32, 32, 32);
  height: 330px;
  padding: 70px;
  display: block;
  text-align: center;
  /* Estilos para los íconos del pie de página */
  /* Estilos para el contenido del pie de página */
}
.footer-a .footer-icons img {
  width: 2.5vw;
  transition: transform 0.3s ease;
}
.footer-a .footer-icons a:hover img {
  transform: scale(1.2);
}
.footer-a .footer-icons a {
  text-decoration: none;
}
.footer-a .footer-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
}
.footer-a .footer-content a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  transition: color 0.3s ease;
}
.footer-a .footer-content a:hover {
  color: white;
}
.footer-a .footer-content h5 {
  margin-top: 15px;
  font-size: 1rem;
}

/* Estilos para las imágenes del carrusel */
.carousel-images {
  justify-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.carousel-images img {
  border-radius: 3%;
  width: 100%;
  padding-bottom: 0px;
}

/* Estilos para el fondo principal */
.main-bg {
  background-color: rgb(26, 26, 26);
  padding: 120px 0;
  /* Estilos para los títulos principales */
}
.main-bg .main-titles {
  font-family: "Montserrat", sans-serif;
  font-weight: 600px;
  font-size: 2rem;
  color: white;
  margin-left: 35px;
  margin-bottom: 20px;
}

/* Estilos para nombres de películas */
.movie-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
  color: white;
  padding: 6px;
  font-size: 1.1rem;
}

/* Estilos para subtítulos de películas y series */
.movie-sub,
.series-sub {
  display: flex;
  border-radius: 10%;
  padding-inline: 5px;
  background-color: rgb(32, 32, 32);
  margin: auto;
}

/* Estilos para las tarjetas */
.card {
  --bs-card-bg: rgb(32, 32, 32);
  margin: 5px;
  transition: all 0.4s;
}
.card .card-body {
  padding: 0px !important;
}

.card:hover {
  scale: 1.1;
}

/* Estilos para nombres de series */
.series-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
  color: white;
  padding: 6px;
  font-size: 1.1rem;
}

/* Estilos para la sección de series */
.section-series {
  margin-top: 50px;
}

/* Estilos para el fondo de inicio de sesión */
.login-bg {
  background-image: url("../images/login-bg.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 300px;
  /* Estilos para el formulario de inicio de sesión */
}
.login-bg .login-form {
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: auto;
  width: 90%;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}
.login-bg .login-form .login-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(180, 180, 180);
  text-align: center;
  margin-bottom: 20px;
}
.login-bg .login-form .form-log {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-bg .login-form .form-log input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.login-bg .login-form .form-log input:focus {
  outline: none;
  border-color: #200065;
}

/* Estilos para el contenido de privacidad */
.priv-content {
  background-color: rgb(236, 236, 236);
  padding: 150px;
  /* Estilos para el título de privacidad */
  /* Estilos para el texto de privacidad */
  /* Estilos para el subtítulo de privacidad */
}
.priv-content .priv-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 2.8rem;
  padding-bottom: 20px;
}
.priv-content .priv-text {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
}
.priv-content .priv-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 1.4rem;
  padding: 10px 0px;
}

/* Estilos para el contenido de contacto */
.contacto-content {
  background-color: rgb(236, 236, 236);
  padding: 60px 400px;
  margin-top: 50px;
  /* Estilos para el título de contacto */
  /* Estilos para el subtítulo de contacto */
  /* Estilos para el texto de contacto */
  /* Estilos para los enlaces de contacto */
  /* Estilos para el formulario de contacto */
  /* Estilos para la información de contacto */
}
.contacto-content .contacto-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 2.8rem;
  padding-bottom: 20px;
}
.contacto-content .contacto-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 1.3rem;
  padding: 20px 0px;
}
.contacto-content .contacto-text {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
  text-align: justify;
}
.contacto-content .contacto-text2 {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
}
.contacto-content .contacto-text a {
  text-decoration: none;
}
.contacto-content .contacto-msj {
  width: 70%;
  height: 30px;
  padding: 5px;
}
.contacto-content .contacto-submit {
  width: 10%;
  height: 42px;
  padding: 5px;
}
.contacto-content .contacto-info {
  width: 20vh;
  height: 80px;
  border-radius: 7%;
  padding: 20px;
  margin-inline: 10px;
  display: inline-block;
  background-color: rgb(200, 200, 200);
}
.contacto-content .contacto-info h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Estilos para el contenido de términos de uso */
.terminos-content {
  background-color: rgb(236, 236, 236);
  padding: 200px 300px;
  /* Estilos para el título de términos de uso */
  /* Estilos para el texto de términos de uso */
  /* Estilos para el subtítulo de términos de uso */
}
.terminos-content .terminos-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 2.8rem;
  padding-bottom: 20px;
}
.terminos-content .terminos-text {
  line-height: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 25px;
}
.terminos-content .terminos-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(26, 26, 26);
  font-size: 1.4rem;
  padding: 10px 0px;
}

/* Estilos para el botón de alternar la barra de navegación en dispositivos móviles */
.navbar-toggler {
  display: none;
}

/* Estilos para el color de enlace de navegación al enfocar o pasar el mouse */
.nav-link:focus,
.nav-link:hover {
  color: white;
}

/* Media queries */
@media (max-width: 930px) {
  /* Estilos para el carrusel de imágenes en dispositivos móviles */
  .carousel-images {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Estilos para los íconos de navegación en dispositivos móviles */
  .nav-icons {
    display: none;
  }
  .navbar {
    height: 70px;
  }
  /* Estilos para el menú desplegable de la barra de navegación en dispositivos móviles */
  .navbar-collapse {
    background-color: black;
    padding: 5px;
    border-radius: 3%;
  }
  /* Estilos para los títulos principales en dispositivos móviles */
  .main-titles {
    margin-left: 15px;
  }
  /* Estilos para el fondo principal en dispositivos móviles */
  .main-bg {
    padding: 60px 0px;
  }
  /* Estilos para el botón de alternar la barra de navegación en dispositivos móviles */
  .navbar-toggler {
    display: flex;
  }
  /* Estilos para los elementos de navegación generales en dispositivos móviles */
  .nav-item-gral {
    display: none;
  }
  /* Estilos para el formulario de búsqueda en dispositivos móviles */
  .search-form {
    display: none;
  }
  /* Estilos para el panel deslizante en dispositivos móviles */
  .offcanvas {
    --bs-offcanvas-bg: rgb(26, 26, 26);
  }
  /* Estilos para el título del panel deslizante en dispositivos móviles */
  .offcanvas-title {
    color: white;
  }
  /* Estilos para las tarjetas en dispositivos móviles */
  .card {
    width: 30vw !important;
  }
  /* Estilos para los íconos del pie de página en dispositivos móviles */
  .footer-icons img {
    width: 5vw;
  }
  /* Estilos para el enc

  abezado de video en dispositivos móviles */
  .video-header {
    max-height: 70vh;
  }
  .video-header .video-content .video-title h3 {
    padding-top: 40px;
    font-size: 2rem;
  }
  .video-header .video-content .video-subtitle p {
    font-size: 1.2rem;
    width: 100%;
  }
  /* Estilos para el fondo de inicio de sesión en dispositivos móviles */
  .login-bg {
    padding: 120px;
  }
  /* Estilos para el formulario de inicio de sesión en dispositivos móviles */
  .login-form {
    width: 100%;
    height: 70vh;
    margin: 20px auto;
    padding: 20px;
  }
  .login-form .login-title {
    font-size: 1.2rem;
  }
  .login-form .form-log {
    width: 90%;
    padding: 10px;
  }
  .login-form .form-log input {
    padding: 5px;
    margin: 10px;
    width: 100%;
  }
}
@media (max-width: 656px) {
  /* Estilos para el carrusel de imágenes en dispositivos móviles más pequeños */
  .carousel-images {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Estilos para las tarjetas en dispositivos móviles más pequeños */
  .card {
    width: 40vw !important;
  }
  /* Estilos para los íconos del pie de página en dispositivos móviles más pequeños */
  .footer-icons img {
    width: 8vw;
  }
  /* Estilos para el encabezado de video en dispositivos móviles más pequeños */
  .video-header {
    max-height: 34vh;
  }
  .video-header .video-content .video-title h3 {
    padding-top: 60px;
    font-size: 1rem;
  }
  .video-header .video-content .video-subtitle p {
    font-size: 0.6rem;
    width: 100%;
  }
  /* Estilos para el fondo de inicio de sesión en dispositivos móviles más pequeños */
  .login-bg {
    padding: 120px 20px;
  }
}

/*# sourceMappingURL=estilo.css.map */
